.fon-for-about-us-header {
    background:url("/images/line-for-about-us-header.png") no-repeat,url("/images/fon-for-about-us-header.jpg");
    background-size: 100%;
}
.text-about-us-header{
    font-size: 20px;
    line-height: 30px;
    color: black;
}
.read-m-about-header,.read-m-about-header:hover {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: rgba(140, 189, 2, 0.7);
    cursor: pointer;
}
.title-our-service{
    font-weight: bold;
    font-size: 48px;
    color: #8CBD02;
}
.title-our-servise-about-us-header{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #8CBD02;
}
.text-our-servise-about-us-header{
    font-size: 20px;
    line-height: 30px;
    color: black;
}
.card-img-width-about{
    padding-left: 30px;
    padding-right: 30px;
}

.fon-for-slider-about-us-header{
    background:url("/images/fon-for-certificat-about.png");
}
.line-style-up-about-h{
    margin-top:-3.8%;
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
}
.line-style-down-about-h{
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    margin-top:-5.5%;
}
.img-slider-about-r{
    max-width: 23%;
    border-radius: 10%;
}
.botton-heigth-1{
    padding-bottom:8%;
}
.botton-heigth-2{
    padding-bottom:5%;
}
.button-about-r-slider{

    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0 0 0 4%;
    padding: 1% 8.8% 1% 8.8%;
    outline: none;
    cursor: pointer;
}
.button-about-r-slider:hover{

    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: -2px -2px 20px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    outline: none;
}
.partner-1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(166, 159, 140, 0.3);
    padding: 4%;
}
.partner-2{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #A69F8C;
    padding: 4%;
}
.partner-3{
    padding: 2.5% 4% 4% 4%;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #A69F8C;
}

.button-about-r-partners{
    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 1% 8.8% 1% 8.8%;
    outline: none;
    cursor: pointer;
}
.button-about-r-partners:hover{
    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: -2px -2px 20px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    outline: none;
}
.our-services-img{
    padding: 2% 0 5% 0;
}

@media screen and (min-width: 1340px) and (max-width: 1500px){
    .partner-1{
        padding: 2%;
    }
    .partner-2{
        padding: 2%;
    }
    .partner-3{
        padding: 0.5% 2% 2% 2%;
    }
}

@media screen and (max-width:767px){
    .title-our-service{
        font-size: 32px;
    }
}