@font-face {
    font-family:Century Gothic;
    src: url("../fonts/CenturyGothic.ttf");
}
.mainAction{
    background: #092604;
}

.action:hover >div{
    background: white;
    color: #092604 ;
   }

.discountInPercent {
    font-family:Century Gothic;
    font-size: 78px;
    font-weight:bold;
    color: white;
    text-align: center;
}
.discountText{
    font-family:Century Gothic;
    padding: 0 22px 32px 32px;
    font-size:14px;
    color: white;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .discountInPercent {
        font-family:Century Gothic;
        font-size: 58px;
        font-weight:bold;
        color: white;
        text-align: center;
    }
    .discountText{
        font-family:Century Gothic;
        padding: 0 6px 16px 6px;
        font-size:80%;
        color: white;
        height: auto;
    }


}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .discountInPercent {
        font-family:Century Gothic;
        font-size: 48px;
        font-weight:bold;
        color: white;
        text-align: center;
    }
    .discountText{
        font-family:Century Gothic;
        padding:0 0 4px 4px;
        font-size:12px;
        color: white;
        height: auto;
    }


}
/*!* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) *!*/
/*@media screen and  (min-width: 576px) and (max-width: 767px) {*/


/*}*/

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media screen and (max-width: 575px) {

    .discountInPercent {
        font-family:Century Gothic;
        font-size: 36px;
        font-weight:bold;
        color: white;
        text-align: center;
        height: auto;
    }
    .discountText{
        font-family:Century Gothic;
        padding:0 9px;
        font-size:10px;
        color: white;
    }
}








