.advantages-title {
    font-family: Century Gothic Bold;
    font-size: 48px;
    line-height: 59px;
    color: #8CBD02;
}

.advantages-text {
    font-family: Century Gothic Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}