.modal {
    background: rgba(0, 0, 0, 0.001);
}

.modal-content {
    width: 80%;
    background: #FFFFFF;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.close {
    outline: none !important;
}
.modal-header {
    border: none;
    padding: 1rem 1rem 0 1rem;
}
.modal-header .close {
    padding: 1rem 2rem 0 1rem;
    margin: -1rem -1rem -1rem auto;
    z-index: 1;
}

.nav-tabs, .nav-link {
    border: none;
    color: rgba(0, 0, 0, 0.5);
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-link.active {
    color: #8CBD02;
    border: none;
    font-weight: bold;
}

.forgot-text {
    color: #8CBD02;
    font-weight: bold;
    padding: 0 1rem 1rem 2rem;
}

.width-email, .width-password, .first-last-name-modal, .width-email-sing-in, .width-password-sing-in, .width-password-confirmation {
    font-style: italic;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    width: 35%;
    text-align: right;
}
input.control, input.control-password {
    background-color: transparent !important;
    letter-spacing: normal;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin-left: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-color: transparent;
    border-bottom: 1px solid #000000;
    width: 50%;
}

.control {
    color: rgba(0, 0, 0, 0.5);
}

.control-password {
    font-size: 2rem;
    width: 12.4rem;
    height: 2rem;
}

.eye, .eye-password{
    color: #8CBD02;
    right: 14%;
    outline-color: transparent;
    border: none;
    background: transparent;
    z-index: 888;
    cursor: pointer;
}

.eye:active, .eye:focus {
    outline: none;
}

.modal-footer {
    border: none;
    background: url("/images/line-for-about-us-header.png") no-repeat, url("/images/fon-for-modal-footer.jpg");
    background-size: 100%;
    border-radius: 0 0 25px 25px;
    height: 4rem;
}

.href-forgot {
    color: rgba(0, 0, 0, 0.5);
}

.color-linc:hover {
    color: #8CBD02;
}

.button-modal-sing-in, .button-modal-login {
    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    float: right;
}

.button-modal-sing-in {
    margin: 1rem 1rem 3rem 11.8rem;
    padding: .5rem 4.2rem .5rem 4.2rem;
}

.button-modal-login {
    margin: 1rem 1rem 3rem 11.3rem;
    padding: .5rem 4.2rem .5rem 4.2rem;
}

.button-modal-sing-in:hover, .button-modal-login:hover {
    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: -2px -2px 20px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    outline: none;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .modal-dialog {
        margin: 0 0 0 32rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .modal-dialog {
        margin: 0 0 0 23rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .modal-dialog {
        margin: 0 0 0 16rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {

    .modal-dialog {
        margin: 0 1rem 0 1rem;;
    }

    .modal-content {
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .modal-content {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .modal-content {
        width: 100%;
    }
    .eye{
        right: 12%;
    }
    .eye-password{
        top:51%;
        right: 12%;
    }
}






