.fon-cart {
    background:url("/images/line-for-about-us-header.png") no-repeat,url("/images/fon-cart.png");
    background-size: 100%;
}

.text-cart{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #0F0E0E;
    margin-right: 25%;
}
.img-cart{
    border-radius: 25px;
}