@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

@media only screen  and (max-width: 1224px) {
    body {
        background-color: yellow;
        font-family: "Raleway", sans-serif;
        font-size: 0.75rem;
    }
    .fa-3x {
        font-size: 2em;
    }
}

.custom-nav-bs4 {
    height: 60px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.05);
}

.custom-drop-menu {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 9px 0px;
    cursor: pointer;
    height: 151px;
    left: -76.7344px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(58, 58, 58);
    top: 63px;
    width: 200px;
    border: 0px none rgb(58, 58, 58);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 500 normal 15px / 19px Montserrat, sans-serif;
    margin: 0px 0px 20px;
    padding: 20px;
    overflow-y: hidden;
}

.drop-list-label{
    color: rgb(158, 158, 158);
    display: inline-block;
    text-transform: uppercase;
    font: normal normal 700 normal 15px / 19px Montserrat, sans-serif;
    padding: 0px 0px 5px;
}

.custom-drop-menu ul {
    padding: 0px;
}

.custom-drop-menu ul li {
    cursor: pointer;
    list-style: none outside none;
    padding: 5px 0px;
}

.custom-drop-menu ul li a {
    color: rgb(51, 51, 51);
    letter-spacing: -0.26px;
}

.custom-drop-menu ul li a:hover {
    text-decoration: none;
    color: #0041ff;
}

.custom-profile {
    cursor: pointer;
    display: inline-block;
    height: 38px;
    vertical-align: middle;
}

.user-name {
    color: rgb(0, 3, 17);
    cursor: pointer;
    display: block;
    letter-spacing: -0.26px;
    font: normal normal 500 normal 15px / 19px Montserrat, sans-serif;
}

.user-role {
    color: rgb(142, 142, 142);
    cursor: pointer;
    display: block;
    letter-spacing: -0.26px;
    font: normal normal 500 normal 14px / 19px Montserrat, sans-serif;
}

.custom-status {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15.36px 0.64px, rgba(0, 0, 0, 0.12) 0px 2px 6px 0px;
    display: inline-block;
    background: rgb(76, 175, 80) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 3px 3px 3px 3px;
    margin: 0px 0px 10px;
    padding: 15px;
}

.custom-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    text-align: left;
    text-decoration: none solid rgb(58, 58, 58);
    top: 10px;
    background-image: url("../images/Icon-Sm-Cross-White.svg");
    width: 18px;
    height: 18px;
}

.status-text {
    color: rgb(255, 255, 255);
    letter-spacing: -0.26px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    width: 270px;
    font: normal normal 500 normal 15px / 19px Montserrat, sans-serif;
    margin: 0px;
}

.custom-link:hover, .custom-link:focus {
    text-decoration: none;
    background-color: white;
}

.custom-nav-bs3 {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background-color: white !important;
    height: 60px !important;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.05) !important;
}

.custom-nav-link-bs3 {
    padding: 10px !important;
}

.custom-nav-link-bs4 {
    margin-left: -7px;
}

.custom-navbar-bs3 {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border-width: 0 0 1px !important;
}

.custom-list-ul {
    list-style:none !important;
    margin-right: 15px !important;
    margin-top: 15px !important;
}

.custom-drop-bs3 {
    padding: 20px 20px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 9px 0px !important;
    margin-top: 15px !important;
}

.custom-drop-down-icon {
    display: inline-block;
    width: 14px;
    height: 8px;
    color: black;
}


.custom-admin-sidebar {
    background-color: white;
    margin-top: -23px;
    height: auto;
    width: 90px;
    border-right: 1px solid rgba(163, 163, 163, 0.2);
    outline: rgb(58, 58, 58) none 0;
    padding-top: 20px;
}

.custom-admin-sidebar ul {
    padding: 0;
}

.custom-admin-sidebar ul li {
    padding: 10px 5px;
    list-style-type: none;
    letter-spacing: -0.26px;
    text-align: center;
    text-transform: uppercase;
    font: normal normal 500 normal 11px / 19px Montserrat, sans-serif;
}

.custom-admin-sidebar ul li a {
    text-decoration: none;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(162, 162, 162);
    cursor: pointer;
}
.custom-admin-sidebar-a-active {
    color: blue !important;
}

.menu-properties {
     width: 48px;
     height: 48px;
     display: inline-block;
     background-size: cover;
 }
.icon {
    display: inline-block;
    background-size: cover;
}
.dashboard-icon {
    background-image: url("../images/Icon-Dashboard.svg");
}
.sales-icon {
    background-image: url("../images/Icon-Sales.svg");
}
.catalog-icon {
    background-image: url("../images/Icon-Catalog.svg");
}
.customer-icon {
    background-image: url("../images/Icon-Customers.svg");
}
.promotions-icon {
    background-image: url("../images/icon-promotion.svg");
}
.settings-icon {
    background-image: url("../images/Icon-Settings.svg");
}
.configuration-icon {
    background-image: url("../images/Icon-Configure.svg");
}

.hyphenation {
    word-break: break-all;
}

.sidebar ul li {
    border: none !important;
}

.left-sidebar {
    float: left;
    margin-top: 23px !important;
}

.right-sidebar {
    float: right;
    width: 160px;
}
.right-sidebar ul li {
    border-bottom: 1px solid #e7e7e7 !important;
}