.fon-faq {
    background: url("/images/fon-faq.jpg") no-repeat;
    background-size: cover;
}

.top-fon{
    margin: -1.25% 0 3% 0;
}

.faq-text-list{
    color:#8CBD02;
    font-weight: bold;
    margin-bottom:-3.5%!important;
}

.nav-tabs{
    border-bottom: .05rem solid rgba(0, 0, 0, 0.3);;
}
.nav-link {
    display: block;
    margin: 0 1.3rem;
    padding: 2rem 0;
}

.nav-tabs .nav-link.active {
    color:#8CBD02;
    font-weight: bold;
    background-color:transparent;
    letter-spacing: 0.05em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .15rem solid #8CBD02;
}

/*.button-up-down{*/
    /*background: url("/images/button-faq-down.png") no-repeat;*/
    /*width: 20px;*/
    /*height: 10px;*/
   /**/
/*}*/

/*.button-up-down:visited{*/
    /*background: url("/images/button-faq-down.png") no-repeat;*/
    /*width: 20px;*/
    /*height: 10px;*/
/*}*/

/*.button-up-down:active{*/
    /*background: url("/images/button-faq-up.png") no-repeat;*/
    /*width: 20px;*/
    /*height: 10px;*/
    /*transition: background 0s;*/
/*}*/

a,a:hover {
    color: black;
    text-decoration:none !important;
    outline: none !important;
    border-top-color: transparent !important;
    border-left: transparent!important;
    border-right: transparent !important;
}

.card {
    margin: 2% 0 1% 0;
    background-color:transparent;
    border:none;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background:rgba(104, 166, 72, 0.1); ;
    border-bottom: none;
    transition: background  9999999s;
    text-decoration: none !important;
}

/*.card-header:active,.btn:active ,.text-hover:active{*/
    /*color: white;*/
    /*text-decoration: none!important;*/
    /*outline: none !important;*/
    /*background: #68A648;*/
    /*cursor: pointer;*/
    /*transition: background 0s, color 0s;*/
/*}*/

.btn {
    color:black;
    user-select: none;
    text-decoration: none !important;
    outline: none !important;
    display: block;
    text-align:left;

}
/*.on-1 {*/
    /*background: red ;*/
/*}*/
/*.off-1{*/
    /*background: green;*/
/*}*/

.no{
    color: red;
}
.yes{
    color: white;
}
