.fon-for-goods{
    background:url("/images/fon-for-goods.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.style-for-list-goods{
    list-style-type: none;
}
.style-for-list-goods-link{
    color: #212529;
    text-decoration: none;
}
.style-for-list-goods-link:hover{
    text-decoration: none;
}
.style-for-list-goods-link-active {

    font-weight: bold;
    cursor: pointer;
    color:#8CBD02;
    text-decoration: none;
}
.style-for-list-goods-link-active:hover {
    text-decoration: none;
}
.text-type{
    font-size: 1.2rem;
    line-height: 0.3rem;
}

.text-type:hover{
    color: #8CBD02;
    font-weight: bold;
    cursor: pointer;
}

.lile-between {
    height: 1px;
    background: rgba(140, 189, 2, 0.3);
}

.text-type-title{
    font-size: 1rem;
    line-height: 1rem;
}

.select-goods{
    background: url(/images/down-arrow-products.png) no-repeat 96% 50%;
    height: 35px;
    color: black;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    background-color:transparent;
    cursor:pointer;
    margin: 0;
    border-radius: 5px;
    border:1px solid black;
    border-image: initial;
    outline: none;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
}
select::-ms-expand {
    display: none;
}
.text-type-prise {
    font-size: 1rem;
    line-height: 1.8rem;
}
.text-type-rules{
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #8CBD02;
}
.text-href{
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #8CBD02;
    text-decoration:underline;
}
.text-href:hover {
    color: #8CBD02;
}

.margin-for-products{
    margin-left: 10% !important;
}

.slider {
    background: transparent;
}
.slider.slider-horizontal {
    width: 100%;
}
.slider.slider-horizontal .slider-track {
    height: 3px;
    margin-top: -3px;
}
.slider-track {
    background: #d3d3d3;
}
.slider-handle {
    width: 16px;
    height: 16px;
    background-color: #8CBD02;
    background-image: linear-gradient(to bottom,#8CBD02 0,#8CBD02 100%);
}
.slider-selection {
    background: #8CBD02;
}
.slider .tooltip.top {
    margin-top: 17px;
}
.tooltip {
    opacity: 1;
}
.tooltip-inner {
    background: #8CBD02;
    color: #212529;
}

.image-width{
    width: 10%;
}

@media screen and (min-width:1381px) {
    /*.slider.slider-horizontal {*/
        /*width: 268px;*/
    /*}*/
}

@media screen and (min-width: 1340px) and (max-width:1380px) {

    .margin-for-products {
        margin-left: 0 !important;
    }

    .lile-between, .select-goods, section.range-slider input {
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width:1250px) {

    .lile-between, .select-goods, section.range-slider input {
        width:150%;
    }
    .slider.slider-horizontal {
        width: 150%;
    }
}

@media screen and (min-width:426px) and (max-width: 768px){

    .margin-for-products{
        margin-left: 30% !important;
    }
    .lile-between, .select-goods, section.range-slider input {
        width: 220%;
    }
    .slider.slider-horizontal {
        width: 220%;
    }
}

@media screen and (max-width:425px){

    .image-width{
        width: 20%;
    }
    .style-for-list-goods{
       padding: 0;
    }
    .margin-for-products {
         margin-left: 0 !important;
    }
    .lile-between {
        width: 92%;
    }
    .select-goods {
        width: 92%;
        height: 25px;
    }
    .slider.slider-horizontal {
        width: 92%;
    }
}


