
.footer {
    font-family: Century Gothic Regular;
    color: #FFFFFF;
    background-color: #2B2723;
}
.title-text {
    font-size: 14px;
    line-height: 38px;
}
.text-decoration {
    font-size: 14px;
    line-height: 25px;
}
.footer-line {
    top: 55px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer li a {
    text-decoration: none;
    color: #FFFFFF;
}
.networks {
    margin-top: 212px;
}

.footer-bottom {
    background-color: #FBFAFA;
    width: 100%;
    height: 102px;
}
.footer-bottom-copy {
    font-family: Century Gothic Regular;
    font-size: 14px;
    line-height: 17px;
    color: #0F0E0E;
    text-align: center;
}
.footer-bottom-booklet {
    border: 1px solid #8CBD02;
    border-radius: 75px;
    height: 52px;
}
.footer-bottom-booklet a {
    text-decoration: none;
    font-family: Century Gothic Bold;
    font-size: 14px;
    line-height: 17px;
    color: #8CBD02;
}


