.grades-back {
    background: url("/images/stem.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 350px;
    margin-top: -400px;
}
.grades-width {
    max-width:1431px;
    padding-bottom: 200px;
    overflow: hidden;
}
.grades-title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    color: #8CBD02;
}
.grades-line {
    background: #8CBD02;
    width: 326px;
    height: 3px;
    border-radius: 25px;
}
.grades-item {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    max-width: 675px;
}
.grades-imgs {
    margin-top: -15px;
    margin-left: -40px;
    height: 538px;
}
.grades-item-title {
    width: 229px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: #8CBD02;
    margin-top:2.6rem;
}
.grades-item-text {
    width: 232px;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: #000000;
    margin-top: 2.6rem;
}
.grades-item-link {
    font-weight: normal;
    font-size: 1rem;
    line-height: 0.6rem;
    letter-spacing: 0.02em;
    color: #8CBD02;
    text-decoration: underline;
}
.grades-item-link:hover {
    color: #8CBD02;
    text-decoration: underline;
}
.grades-stamp {
    position: absolute;
    margin-left: 160px;
    margin-top: 140px
}
.grades-img-size {
    border-radius: 25px;
    width: 422px;
    height: 538px;
}
.grades-img-size:hover {
    transition-property: width, height;
    transition-duration: 2s;
    transition-delay: 0.2s;
    width: 574px;
    height: 724px;
    position: relative;
    z-index:2;
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .grades-width {
        max-width: 1200px ;
    }
    .grades-item {
        max-width: 550px ;
    }

    .grades-img-size {
        width: 300px ;
        height: 450px ;
    }

    .grades-item-title {
        width: 180px ;
        font-size: 16px ;
    }
    .grades-item-text {
        width: 200px ;
    }
    .grades-stamp {
        margin-left: 120px ;
        margin-top: 80px ;
    }
    .grades-imgs {
        height: 458px ;
    }
    .grades-img-size:hover {
        width: 374px ;
        height: 524px ;
    }
}

@media screen and (max-width: 425px) {

    .grades-img-size {
         width: 302px;
    }
    .grades-imgs {
         margin-top: 0;
         margin-left: 0;
    }
    .grades-item {
         background:transparent;
         box-shadow:none;
         border-radius:0;
    }

    .grades-title {
      padding-top: 3rem;
    }

    .grades-item-title, .grades-item-text{
        width: 100%;
    }
    .grades-item-text{
        color: white;
        font-weight: bold;
    }
}

@media screen and (max-width: 320px) {

    .grades-img-size {
        width: 282px;
    }
    .grades-line {
        width: 226px;
    }
    .grades-imgs {
        margin-left: -10px;
    }
    .grades-item {
        background:transparent;
        box-shadow:none;
        border-radius:0;
    }

    .grades-title {
        padding-top: 3rem;
    }

    .grades-item-title, .grades-item-text{
        width: 100%;
    }
    .grades-item-text{
        color: white;
        font-weight: bold;
    }
}
