@media screen and (min-width: 1080px) and (max-width: 1920px) {
    .bottom-link-activ, .info-menu, .info, .info-lang, .dropdown-item {
        font-size: 0.9rem !important;
    }
}
.header {
    background: url("/images/header-background.jpg") no-repeat #FFFFFF;
    background-size: 100% 50%, 100% 50%;
}
.header a {
    text-decoration: none;
}
.list-unstyled li a:focus {
    color: #FFFFFF ;
}
.list-unstyled li a:hover {
    color: #FFFFFF ;
}
.nav-item a:focus {
    color: #000000;
}
.nav-item a:hover {
    color: #000000;
}
.bottom-link-activ {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #8CBD02 !important;
}

.button-language {
    background: transparent;
    border: none;
    text-transform: uppercase;
}

.info {
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
}

.info-lang {
    font-family: Century Gothic Bold;
    font-size: 1rem;
    line-height:1.2rem;
    color: #FFFFFF;
}

.info-menu {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #000000;
}
.logo-width {
    max-width: 140px;
}

.cart-not-empty {
    position: absolute;
    top:10px; 
    left:10px;
    height:12px;
    width:12px;
    background-color: green;
    opacity: 0.75;
    border-radius: 50%;
}