.header {
    background-color: #FFFFFF;
    font-family: Century Gothic Regular;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.header-content {
    max-width: 1720px;
}

.header a {
    text-decoration: none;
    color: #000000;
}
.bottom-link a:hover, .bottom-link a:focus {
    color: #8CBD02;
    font-family: Century Gothic Bold;
}