*{
    font-size: 1rem;
}
.main-border-green{
    border:10px solid #75B018;;
}
.line-for-letter{
    background: url("/images/line-for-letter.png") no-repeat;
    background-size:contain;
    height: 170px;
}
.img-letter{
    margin-right:10%;
    width: 27%;
    float: right;
}
.bolder{
    font-weight: bolder;
}
.line-under{
    color: blue;
    text-decoration: underline;
}
.back-table{
    background: lightgrey;
}

@media screen and (max-width: 768px) {

    /*.line-for-letter {*/
        /*height: 100px;*/
    /*}*/
}
@media screen and (max-width: 425px) {

    .line-for-letter{
        background-size:contain;
        height: 60px;
    }
    .row-425{
        position: relative;
    }
    .price-425{
        top: 4%;
        position: absolute !important;
        padding-right: 10% !important;
    }
}