.style-for-main-slider{
    position:relative;
}

.line11{
    background: url("/images/line-for-main-slider.png") no-repeat ;
    max-width: 100%;
    height: 212.11px;

}
.slide-circle .li-circle {

    width: 10px;
    height: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 100%;
    margin: 5px;
}

.slide-circle .active {

    background-color: none;
}

.slider-png1{

    position:absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 206px;
    background-image: url("/images/tw 1.png")  ;
    z-index: 1;

}

.slider-png2{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 261px;
    background-image: url("/images/youtb 1.png");
    z-index: 1;
}

.slider-png3{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 316px;
    background-image: url("/images/fb 1.png");
    z-index: 1;

}

.carousel-name-Paulownia{
    height: auto;
    font-size: 144px;
    line-height: 78px;
    color: #FFFFFF;
}
.carousel-professional{
    padding: 0 0 58px 0;
    font-size: 48px;
    line-height: 2;
    letter-spacing: 0.2em;
    color: white;
    height: auto;
}
.carousel-text{
    padding: 0 0 36px 0;
    width: 537px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: auto;
}

#main-slider-line{

    position:absolute;
    margin-top:-9.5%;
    background-size: 100% 100%;
    width:100%
}