.calculate-title {
    font-family: Century Gothic Bold;
    font-size: 48px;
    line-height: 38px;
    color: #8CBD02;
}
.button-calc {
    border: none;
    background: transparent;
}
.calculate-line {
    border: 1px solid rgb(255, 255, 255);
}

.button-calc:active,.button-calc:focus {
    outline: none;
}
.calc-select:active,.calc-select:focus {
    outline: none;
}
.button-calc::-moz-focus-inner {
    border: 0;
}
.calc-select::-moz-focus-inner {
    border: 0;
}
.calc-select  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    width: 100%;
}
.calc-select option {
    color: #2B2723
}
.calc-number::-moz-placeholder{
    color: #FFFFFF;
    opacity:1;
}
.calc-number::-webkit-input-placeholder{
    color: #FFFFFF;
    opacity:1;
}
.modal-content-calc {
    background: #2B2723;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}