@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .calc-width {
        max-width:1200px !important;
    }
}
.calculate-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 38px;
    color: #8CBD02;
}
.calc-width {
    max-width:1400px;
}
.calc-title-line {
    background: #8CBD02;
    width: 273px;
    height: 3px;
    border-radius: 25px;
}
.button-calc {
    border: none;
    background: transparent;
}
.button-calc:active,.button-calc:focus {
    outline: none;
}
.button-calc::-moz-focus-inner {
    border: 0;
}
.calc-select  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
}
.calc-select:active, .calc-select:hover, .calc-select:focus {
    outline: 0;
    outline-offset: 0;
}
.calc-number::-moz-placeholder{
    color: #FFFFFF;
    opacity:1;
}
.calc-number::-webkit-input-placeholder{
    color: #FFFFFF;
    opacity:1;
}
.modal-content-calc {
    background: #2B2723;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.button-calc:hover {
    -webkit-filter: drop-shadow(-2px -2px 20px #8CBD02);
    filter: drop-shadow(-2px -2px 20px #8CBD02);
}