.style-for-main-slider{
    position:relative;
}
.line11{
    background: url("/images/line-for-main-slider.png") no-repeat ;
    max-width: 100%;
    height: 212.11px;
}
.slide-circle .li-circle {
    width: 10px;
    height: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 100%;
    margin: 5px;
}

.carousel-indicators li {
    background-color:transparent;
}
.slider-png1{

    position:absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 206px;
    background-image: url("/images/tw 1.png")  ;
    z-index: 1;
}
.slider-png2{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 261px;
    background-image: url("/images/youtb 1.png");
    z-index: 1;
}
.slider-png3{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 316px;
    background-image: url("/images/fb 1.png");
    z-index: 1;
}
.carousel-name-Paulownia{
    height: auto;
    font-size: 144px;
    line-height: 78px;
    color: #FFFFFF;
    font-weight: bold;
}
.carousel-professional{
    padding: 0 0 58px 0;
    font-size: 48px;
    line-height: 2;
    letter-spacing: 0.2em;
    color: white;
    height: auto;
    font-weight: bold;
}
.carousel-text{
    padding: 0 0 36px 0;
    width: 537px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: auto;
    font-weight: bold;
}

#main-slider-line{
    position:absolute;
    margin-top:-9.5%;
    background-size: 100% 100%;
    width:100%
}

@media screen and (min-width: 1367px) {

    .carousel-name-Paulownia {

        font-size: 105px;
        color: #FFFFFF;
        height: auto;
    }

    .carousel-professional {

        padding: 0 0 46.4px 0;
        font-size: 38px;
        line-height: 1.6;
        letter-spacing: 0.16em;
        color: white;
        height: auto;
    }

    .carousel-text {

        width: 430px;
        font-size: 14px;
        color: #FFFFFF;
        height: auto;
    }

    .slider-png1 {

        left: 90px;
        top: 180px;
    }

    .slider-png2 {

        left: 90px;
        top: 230px;
    }

    .slider-png3 {
        left: 90px;
        top: 280px;
    }
}
/* Стили для больших экранов (дисплей шириной от 992 пикселей до 1199 пикселей) */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .carousel-name-Paulownia {

        font-size: 105px;
        line-height: 62.4px;
        height: auto;
    }

    .carousel-professional {

        padding: 0 0 46.4px 0;
        font-size: 38px;
        line-height: 1.6;
        letter-spacing: 0.16em;
        height: auto;
    }

    .carousel-text {

        padding: 0 0 28.8px 0;
        width: 430px;
        font-size: 12.8px;
        line-height: 16px;
        height: auto;
    }

    .slider-png1 {

        left: 90px;
        top: 160px;
    }

    .slider-png2 {

        left: 90px;
        top: 210px;
    }

    .slider-png3 {

        left: 90px;
        top: 260px;
    }
}

/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .carousel-name-Paulownia{

        font-size: 84px;
        line-height: 42.4px;
        color: #FFFFFF;
        height: auto;
    }
    .carousel-professional{

        padding: 0 0 6.4px 0;
        font-size: 38px;
        line-height: 1.6;
        letter-spacing: 0.16em;
        color: white;
        height: auto;
    }
    .carousel-text{

        padding: 0 0 28.8px 0;
        width: 430px;
        font-size: 12.8px;
        line-height: 16px;
        color: #FFFFFF;
        height: auto;
    }

    .slider-png1{

        left:70px;
        top: 85px;
    }

    .slider-png2{

        left: 70px;
        top: 135px;
    }

    .slider-png3{

        left: 70px;
        top: 185px;
    }
}

/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media screen and  (min-width: 426px) and (max-width: 768px) {

    .carousel-name-Paulownia{

        font-size: 65px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .carousel-professional{

        padding: 0 0 3% 0;
        font-size: 35px;
        color: white;
    }
    .carousel-text{
        padding: 0;
        width: 300px;
        font-size:10px;
        color: #FFFFFF;
    }

    .slider-png1{

        left: 50px;
        top: 55px;
    }

    .slider-png2{

        left: 50px;
        top: 100px;
    }

    .slider-png3{

        left: 50px;
        top: 145px;
    }
}

@media screen and  (max-width: 426px)
{
    .style-for-main-slider{display: none}
}