.main-content{

    background:url("/images/our-products-background.png");
    background-size: 100% 100%;

}

.line-style-down .line-style-up{

    position: absolute;
    background-size: 100%;
    max-width: 100%;

}

.line-style-up{

    margin-top:-9%;
}

.line-style-down{

    margin-bottom: -6%;
}

.products-title{

    color: white;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-top: 10%;

}

.line-for-products{

    width: 15%;
    height: 3px;
    background: white;
    border-radius: 25px;

}

.back-ground-img{
    /*background-position: 50% 46% ,top ,bottom;*/
    /*background:  url("/images/line-for-goods-in-card.png")no-repeat, url("/images/our-products-col-fon.png") no-repeat, white;*/
    /*background-size: 100%;*/
    height:445px;
    border-radius: 25px;
    background-color: white;
    padding: 0;



}

.title-for-card, .price-for-card {

    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    box-sizing: border-box;
    /* or 130% */
    color: #8CBD02;
}


.text-card{
    margin-top: 6%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    box-sizing: border-box;
    /* or 130% */
    color: #000000;
    border-radius: 5px;
}

