.our-paulownia {
    background: url("/images/our-paulownia-back.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -190px;
    position: relative;
}
.our-paulownia-content {
    padding-bottom: 100px;
    padding-top: 220px;
    max-width: 1745px;
}
.our-paulownia-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.our-paulownia-line {
    background: #FFFFFF;
    width: 178px;
    height: 2px;
    border-radius: 25px;
    position: relative;
}
.our-paulownia-leaf {
    position:absolute;
    top:-80px;
    right: 70px;
}
.fotorama__arr--prev {
background: url("/images/arrow-left.svg") no-repeat;
}
.fotorama__arr--next {
    background: url("/images/arrow-right.svg") no-repeat;
}
.fotorama__img {
    border-radius: 15px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) !important;
    width: 100%;
    height: 100%;
}
.fotorama__thumb {
    border-radius: 25px !important;
}