.our-paulownia {
    position: relative;
    padding-top: 56.5%;
    margin-top: -6%;
    margin-bottom: -2%;
}
.our-paulownia-content {
    position:absolute;
    top: 0;
    padding-top: 10%;
    width: 100%;
}
.our-paulownia-title {
    font-weight: bold;
    font-size: 3rem;
    line-height:3rem;
    color: #FFFFFF;
}
.our-paulownia-line {
    background: #FFFFFF;
    width: 178px;
    height: 2px;
    border-radius: 25px;
    position: relative;
}
.our-paulownia-leaf {
    position:absolute;
    top:-10%;
    right: 5%;
}
.our-paulownia-bg-pic {
    position:absolute;
    top: 0;
    width: 100%;
}

@media screen and  (max-width:1100px) {
    .our-paulownia-leaf img{
        display: none;
    }
}
