.fon-for-partners{
    background:url("/images/fon-for-about-us-header.jpg") 100%;

}
.container-partners{
    background: radial-gradient(50% 50% at 50% 50%, rgba(104, 166, 72, 0) 0%, rgba(104, 166, 72, 0.04) 100%);
    border: 1px solid rgba(19, 81, 9, 0.05);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 2% 0 2% 0;
    max-width: 255px;
    height: 100%;
}

.img-partners{
    /*max-width:30%*/
}