.back-ground-img {
    border-radius: 25px;
    background-color: white;
    padding: 0 0 2% 0;
    margin-bottom: 5%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.back-ground-img:hover{
    box-shadow: 15px 15px 10px rgba(140, 189, 2, 0.6);
    border-radius: 25px;
}
.product-image-wrapper{
    position: relative;
    padding-top: 71.43%;
}
.img-product{
    border-radius: 25px 25px 0 0 !important;
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
}
.line-product-card{
    margin-top:-8%;
    width:100%
}
.product-sale{
    margin-top: 18px;
    padding: 1% 6% 1% 2% ;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    color: #8CBD02;
    border-radius: 2px 5px 5px 0;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.card-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}
.card-btn:active,.card-btn:focus {
    outline: none;
}
.card-btn::-moz-focus-inner {
    border: 0;
}
.box-product{
    border-radius: 50%;
}

.box-product:hover{
     box-shadow: -2px -2px 10px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
 }

.like-product:hover{
      box-shadow: -2px -2px 10px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.title-for-card, .price-for-card {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #8CBD02;

}
.title-for-card:hover{
    color:#8CBD02 ;
    text-decoration:underline;
}
.product-name {
    height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-card{
    height: 4.7rem;
    padding:0 5% 0 5%;
    margin-top: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    color: #000000;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}




