.price-background{
    position: relative;
    background: url("/images/price-background.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -10px;
}
.price-img-leaf-position {
    position:absolute;
    top:-35px;
    z-index: 1;
}
.price-img-leaf {
    width:405px;
    height: 386px;
    transform: scale(-1, 1);
}
.price-text {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
}

.price-text a:hover {
    -webkit-filter: drop-shadow(-2px -2px 20px #8CBD02);
    filter: drop-shadow(-2px -2px 20px #8CBD02);
}

@media only screen  and (min-width: 1565px) and (max-width: 1823px) {

    .price-img-leaf {
        width:317px;
        height: 298px;
    }
}
@media only screen  and (min-width: 1224px) and (max-width: 1564px) {

    .price-img-leaf {
        width:200px;
        height: 190px;
    }
    .price-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1223px) {
    .price-img-leaf {
        width:140px ;
        height: 115px ;
    }
}

@media screen  and (max-width: 768px) {

    .price-img-leaf {
        display: none;
    }
    .price-text {
        text-align: left;
        font-size: 1rem;
        padding-left: 3.9%;
    }
}