.fon-profitability-calculation{
    background:url("/images/profitability-calculation-fon.jpg");
    background-size: cover;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.line-for-calc{
    background:url("/images/line-for-calc.svg") no-repeat;}

.text-profitability-calculation{
    text-indent: 10%;
    font-size:1rem;
    color: #0F0E0E;
}

.text-for-name-table-calc, .title-profitability-calculation{
    font-weight: bold;
    font-size: 3rem;
    color: #8CBD02;
}
.text-for-name-table-calc:hover {
    color: #8CBD02;
    text-shadow: 5px 5px 20px #68A648;
    text-decoration: none !important;
}
.img-for-table-calc{
    text-align: center;
}



