.fon-profitability-calculation{
    background:url("/images/profitability-calculation-fon.png");
    background-size: 100% 100%;
}
.line-for-calc{
    background:url("/images/line-for-calc.png") no-repeat;}

.text-profitability-calculation{
    text-indent: 10%;
    font-size: 20px;
    line-height: 30px;
    color: #0F0E0E;
}
.title-profitability-calculation{
    font-weight: bold;
    font-size: 48px;
    line-height: 38px;
    text-transform: capitalize;
    color: #8CBD02;
}
.text-for-name-table-calc{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 38px;
    text-transform: capitalize;
    color: #8CBD02;
}
.text-for-name-table-calc:hover {
    text-shadow: 5px 5px 20px #68A648;
}
.img-for-table-calc{
    text-align: center;
}





