.text-reset-password{
    color:#8CBD02;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 5px 5px 20px #8CBD02;
}
.shadow-form{
    box-shadow: -2px -2px 20px lightgrey, 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.reset-button{
    background: linear-gradient(203.84deg, #8CBD02 8.62%, #84B811 27.22%, #68A648 71.7%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    padding: .5% 2%;
    outline: none;
    cursor: pointer;
    border: none;

}
.reset-button:hover{
    box-shadow: -2px -2px 20px #8CBD02, 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    outline: none;
    border: none;
}
.first-last-name-modal-reset{
    font-style: italic;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: right;
}
input.control-reset{
    background-color: transparent !important;
    letter-spacing: normal;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-color: transparent;
    border-bottom: 1px solid #000000;
    width: 40%;
}
.eye-reset, .eye-resert-confirm{
    color: #8CBD02;
    outline-color: transparent;
    border: none;
    background: transparent;
    z-index: 888;
    cursor: pointer;
    left: 67%;
}

.eye-reset:active, .eye-resert:focus {
    outline: none;
}

@media screen and (max-width: 425px){

    .eye-reset,.eye-resert-confirm{
        left: 64%;
    }
    .eye-resert-confirm{
        top: 56%;
    }

}