@media screen and (min-width: 320px) and (max-width: 1024px) {
    .services-img-leaf-position {
        position: absolute !important;
        bottom: 0 !important;
    }

    .img-leaf {
        width: 70% !important;
        height: 70% !important;
    }

    .our-services {
        padding-bottom: 110px !important;
    }
}

@media only screen  and (min-width: 1224px) and (max-width: 1439px) {
    .img-leaf {
        width: 70% !important;
        height: 70% !important;
    }

    .services-img-leaf-position {
        bottom: -230px !important;
    }
}

.our-services {
    background: url("/images/service-back.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -250px;
    padding-bottom: 10px;
    padding-top: 80px;

}

.services-ident {
    padding-bottom: 170px;
    padding-top: 120px;
    max-width: 1920px;
}

.services-title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.services-line {
    background: #FFFFFF;
    width: 178px;
    height: 2px;
    border-radius: 25px;
}

.services-1 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services1.jpg") no-repeat, #FFFFFF;
    background-position: 40% 42%, top, bottom;
    background-size: 100%;
    height: 420px;
    border-radius: 25px;
}

.services-2 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services2.jpg") no-repeat, #FFFFFF;
    background-position: 40% 42%, top, bottom;
    background-size: 100%;
    height: 420px;
    border-radius: 25px;
}

.services-3 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services3.png") no-repeat, #FFFFFF;
    background-position: 40% 42%, top, bottom;
    background-size: 100%;
    height: 420px;
    border-radius: 25px;
}

.services-4 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services4.jpg") no-repeat, #FFFFFF;
    background-position: 40% 42%, top, bottom;
    background-size: 100%;
    height: 420px;
    border-radius: 25px;
}

.services-item-width {
    max-width: 270px;
    margin: 0 15px !important;
}

.services-item-wrap {
    margin-top: 150px;
}

.services-text-wrap {
    margin-top: 50px;
}

.services-item-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.services-item-text {
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: -2px;
}

.services-item-link {
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #8CBD02;
    text-decoration: underline;
}

.services-item-link:hover {
    color: #8CBD02;
    text-decoration: underline;
}

.services-img-leaf-position {
    position: absolute;
    bottom: -350px;
}

.img-leaf {
    width: 100%;
    height: 100%;
}

.services-prev {
    width: 40px;
    left: -35px;
    margin-left: 40px;
}

.services-next {
    width: 40px;
    right: -35px;
    margin-right: 40px;
}
