@media screen and (min-width: 320px) and (max-width: 1024px) {
    .services-img-leaf-position {
        position:absolute !important;
        bottom: 0 !important;
    }
    .img-leaf {
        width: 70% !important;
        height: 70% !important;
    }
    .our-services {
        padding-bottom: 110px !important;
    }
}
@media only screen  and (min-width: 1224px) and (max-width: 1439px) {
    .services-1, .services-2, .services-3, .services-4 {
        background-position: 50% 30%, top, bottom !important;
        height: 450px !important;
    }
    .services-item-width {
        max-width: 280px !important;
    }
    .services-prev{
        position: absolute !important;
        left: 0 !important;
    }
    .services-next {
        position: absolute !important;
        right: 0 !important;
    }
    .services-item-title {
        /*font-size: 16px !important;*/
        margin-top: 135px !important;
        max-width: 170px !important;
    }
    .services-item-text {
        /*font-size: 16px !important;*/
        margin-top: 50px !important;
    }
    .services-item-text-width {
        max-width: 253px !important;
    }
    /*.services-item-link {*/
        /*font-size: 16px !important;*/
    /*}*/
    .img-leaf {
        width: 70% !important;
        height: 70% !important;
    }
    .services-img-leaf-position {
        bottom: -230px !important;
    }
}
@media only screen  and (min-width: 1440px) and (max-width: 1823px) {
    .services-1, .services-2, .services-3, .services-4 {
        background-position: 50% 30%, top, bottom !important;
        height: 450px !important;
    }
    .services-item-width {
        max-width: 330px !important;
    }
    .services-prev{
        position: absolute !important;
        left: -12px !important;
    }
    .services-next {
        position: absolute !important;
        right: -12px !important;
    }
    .services-item-title {
        /*font-size: 16px !important;*/
        margin-top: 140px !important;
        max-width: 155px !important;
    }
    .services-item-text {
        /*font-size: 16px !important;*/
        margin-top: 50px !important;
    }
    .services-item-text-width {
        max-width: 253px !important;
    }
    /*.services-item-link {*/
        /*font-size: 16px !important;*/
    /*}*/
}

.our-services {
    background: url("/images/service-back.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -250px;
    padding-bottom: 10px;
    padding-top: 80px;

}
.services-ident {
    padding-bottom: 170px;
    padding-top: 120px;
    max-width: 1920px;
}
.services-title {
    font-weight: bold;
    font-size:3rem;
    line-height:3.1rem;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
}
.services-line {
    background: #FFFFFF;
    width: 178px;
    height: 2px;
    border-radius: 25px;
}
.services-1 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services1.jpg") no-repeat, #FFFFFF;
    background-position: 50% 45%, top, bottom;
    background-size: 100%;
    height: 598px;
    border-radius: 25px;
}
.services-2 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services2.jpg") no-repeat, #FFFFFF;
    background-position: 50% 45%, top, bottom;
    background-size: 100%;
    height: 598px;
    border-radius: 25px;
}
.services-3 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services3.png") no-repeat, #FFFFFF;
    background-position: 50% 45%, top, bottom;
    background-size: 100%;
    height: 598px;
    border-radius: 25px;
}
.services-4 {
    background: url("/images/wave-item.png") no-repeat, url("/images/services4.jpg") no-repeat, #FFFFFF;
    background-position: 50% 45%, top, bottom;
    background-size: 100%;
    height: 598px;
    border-radius: 25px;
}
.services-item-width {
    max-width: 407px;
}
.services-item-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    margin-top: 230px;
}
.services-item-text {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.02rem;
    color: #000000;
    margin-top: 110px;
    margin-bottom: -5px;
}
.services-item-text-width {
    max-width: 353px;
}
.services-item-link {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.02rem;
    color: #8CBD02;
    text-decoration: underline;
}
.services-item-link:hover {
    color: #8CBD02;
    text-decoration: underline;
}
.services-img-leaf-position {
    position:absolute;
    bottom: -350px;
}
.img-leaf {
    width: 100%;
    height: 100%;
}
.services-prev {
    width: 40px;
    left: -35px
}
.services-next {
    width: 40px;
    right: -35px
}
