.fon-service {
    background:url("/images/fon-service.jpg") no-repeat;
    background-size: 100% 100%;

}
.fon-text-service{
    background:url("/images/fon-service-1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.text-service-title{
    font-style: normal;
    font-size: 6rem;
    line-height:6rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding:2% 10% 5% 15%;
}
.line-img{
    margin-top: -9.3%;
    background-size: 100% 100%;
    width: 100%;
    z-index: 7;
}
.text-service{
    text-indent:10%;
    padding: 5% 8% 12% 8%;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
}

@media screen and (min-width:1400px ){

    .main-background {
         min-height: calc(100vh - 448px);
    }
}

@media screen and (max-width:425px ){

    .text-service-title {
        font-size: 4rem;
    }
}