.show-page-back {
    background: url("/images/pages-wave.png") no-repeat, url("/images/pages-background.jpg") no-repeat;
}
.fon-text{
    color: black;
}
.fon-text:hover{
    color: black;
    text-decoration:none;
}