.back-image{

    padding-top: 56px;
    position: relative;
    background:url("/images/background-actions.png") no-repeat;
    background-size: 100% 100% ;

    height: 245px;

}

.carousel-control-prev {
    left: -9px;
    width: 2%;
}
.carousel-control-next {
    right: -8px;
    width: 2%;
}

.cf{

    background: rgba(140, 189, 2, 0.83);
}

.image-fon{

    margin: -20% 0 0 35%;
    font-weight: bold;
    font-size: 72px;
    line-height: 26px;
    color: #FFFFFF;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
}

.text-fon{

    padding: 5%;
    font-size: 20px;
    color: black;

}

a:hover{
    text-decoration: none;
}

.rounding{
    border-radius:25px ;
}


@media screen and (min-width:1025px){

    .from-768{
        display: none;
    }
}
/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media screen and (min-width: 769px) and (max-width: 1024px) {


    .carousel-control-next {
        right: 2px;
        width: 1%;
    }

    .carousel-control-prev {
        left: 0;
        width: 1%;
    }

    .image-fon {
        margin: -20% 0 0 35%;
        font-size: 55px;
    }

    .text-fon{

        font-size: 16px;
    }
    .from-768{

        display: none;
    }
}


/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media screen and  (max-width: 768px) {

    .to-769{
        display: none;
    }
}

