@media only screen  and (min-width: 1224px) {
    .price-img-leaf {
        width:290px !important;
        height: 260px !important;
    }
}
.fon-for-terms{
    background: url("/images/fon-for-goods.jpg") no-repeat;
    height: 100%;
    background-size:cover;
    margin: 0;
}
.text-on-leaf{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 25%;
}
.title-for-rules{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #8CBD02;
}
.text-for-rules{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: black;
}
.terms-img-leaf{
    left: 4%;
}

