.varieties-title {
    font-family: Century Gothic Bold;
    font-size: 48px;
    line-height: 59px;
    color: #8CBD02;
}

.varieties-title-block {
    font-family: Century Gothic Bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: left;
}

.rectangle-background {
    background:#7A9E14 url("/images/background-varieties.png");
    height: 623px;
    border-radius: 5px;
    background-blend-mode: screen;
}
.varieties-text {
    font-family: Century Gothic Bold;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.list-growth {
    list-style-image: url("/images/ultrafast-growth.svg");
}
.list-temp {
    list-style-image: url("/images/temperature.svg");
}
.list-adaptive {
    list-style-image: url("/images/adaptive.svg");
}
.list-cup {
    list-style-image: url("/images/cup.svg");
}
.list-productive {
    list-style-image: url("/images/productive.svg");
}
.list-wood {
    list-style-image: url("/images/wood.svg");
}
.list-gmo-free{
    list-style-image: url("/images/gmo-free.svg");
}