.slider {
    width: 280px;
    margin: 10px auto;
    top: 14px;
    float: right;
}
.slice-list {
    display: none;
}
.slick-prev:before,
.slick-next:before {

    color: white;
}
.vertical-carousel {

    position: absolute;
    z-index: 1;
    right: 5%;
    float: right;
}
.news-shadow {
    display: none;
    border-radius: 5px;
    background: #d6d5d5;
    box-shadow: 4px 4px rgba(230, 230, 230, 0.5), 8px 8px rgba(242, 242, 242, 0.3);
    box-sizing: border-box;
}

.img-rad {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.title-text-news {
    padding: 5px;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #8CBD02;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.text-news {
    font-size: 12px;
    color: #000;
    font-weight: normal;
}

.news-read-more, .news-read-more:hover {
    color: #8CBD02;
    text-decoration: underline;
}

@media screen and (min-width: 1367px) {

    .slider {
        width: 25%;
        top: 2%;
    }

    .slick-slide {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .vertical-carousel {
        right: -5%;
    }

    .news-shadow {
        width: 60% !important;
    }

    .img-rad {
        border-radius: 5px 5px 0 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {

    .slider {
        width: 20%;
        top: 20%;
        right: 0;
    }

    .slick-slide {
        margin: 3px;
    }

    .vertical-carousel {
        width: 75%;
    }

    .title-text-news {
        padding: 3px;
        font-size: 12px;
        box-sizing: border-box;
    }

    .text-news {
        font-size: 10px;
    }

    .news-shadow {
        border-radius: 5px;
        box-shadow: 2px 2px rgba(230, 230, 230, 0.5), 4px 4px rgba(242, 242, 242, 0.3);
    }

    .img-rad {
        border-radius: 5px 5px 0 0;
    }

}

/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .slider {
        width: 16%;
        margin: 1px;
        right: 0;
    }

    .slick-slide {
        margin: 3px;
    }

    .title-text-news {

        padding: 2px;
        font-size: 8px;
    }

    .text-news {
        font-size: 6px;
    }

    .news-shadow {
        border-radius: 2px;
        box-shadow: 2px 2px rgba(230, 230, 230, 0.5), 4px 4px rgba(242, 242, 242, 0.3);
    }

    .img-rad {
        border-radius: 2px 2px 0 0;
    }

}

/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media screen and  (max-width: 767px) {

    .vertical-carousel {
        display: none;
    }
}

