@keyframes numberUpdate {
  0% {color: green;}
  50% {color: yellow;}
  100% {color: #212529;}
}

.number-update{
  animation-name: numberUpdate;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
.product-row .product-quantity .quantity .qty {
  width: 60px;
}


#checkout-wrapper .product-price{
  width: auto;
  min-width: 120px;
}

#checkout-wrapper .payment-text{
  display: block;
}
.navbar-nav .cart_box.dropdown-menu{
  min-width: 320px;
}
.cart_box .cart_list li{
  min-height: 80px;
}
span.error{
  color: red;
}

.comment_content{
  width: 100%;
}

.mfp-container.mfp-inline-holder .mfp-content{
  width: 30%;
  background: white;
  padding: 25px;
}

.products-info{
  background: #FCFCFC;
  border: 1px solid #E7AF21;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px 0px;
}

.products-data .product{
  background: #FFFFFF;
  border-radius: 30px 0px;
  height: 416px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-page-description section{
  padding: 20px 0;
}

.products-data{
  margin: 62px 0;
}

.product-card-top{
  background: #5B9600;
  border-radius: 30px 0px 0px 0px;
  text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 8px 12px;
  color: #FFFFFF;
}

.product-card-body{
  padding: 14px;
}
.product-card-body .product_img img{
  padding: 0; 
}

.product-card-body .product_info{
  padding: 13px 0 0 0;
  text-align: left;
  font-family: Poppins;
  line-height: 20px;
  height: 117px;

  color: #575756;
}
.product-card-body .product-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.product-card-body .product-footer .price{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;

  color: #5F753C;
}

.product-card-body .product-footer .through-price{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-decoration-line: line-through;

  color: #595656;
}
.product-card-body .product-footer .action-block{
  align-self: center;
}
.pd-10{
  padding-left: 10px;
  padding-right: 10px;
}

.product-footer .action-block{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-footer .action-block .action-btn{
  background: #FFFFFF;
  padding: 10px;
  border-radius: 30px;
  width: 43px;
  display: inline-block;
  height: 43px;
}


.product-footer .action-block .action-btn.wishlist-btn{
  margin-right: 12px;
}


.product-footer .action-block .action-btn.cart-btn{
  background: #5B9600;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.products-sidebar{
  padding-right: 3px;
}
.products-sidebar .accordion label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
  color: #928D8D;
}

.products-sidebar .accordion>.card:last-child{
  background: #FCFCFC;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px 0px;
  margin-bottom: 7px;
}
.products-sidebar .accordion>.card .card-header a{
  background: #FCFCFC;
  border-bottom: none;
}
.products-sidebar .accordion>.card .card-body{
  background: #FCFCFC;
  border-top: none;
  padding-top: 0;
}

.products-sidebar .accordion>.card .card-body input{  
  background: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  height: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #595656;
  height: 30px;
  padding: 5px 10px;
  border-radius: 0;
}

#slider-range .ui-slider-range{
  background: #5B9600;
}
#slider-range .ui-slider-handle{
  background: #5B9600;
  border-radius: 50%;
  border: none;
}
#slider-range .ui-slider-handle:focus{
  outline: none;
}
@media only screen and (min-width: 1500px) {
  .custom-page-container {
    margin-top: 120px;
  }
}
