.header-wrap {
  position: relative;
  width: 100%;
  z-index: 2;
}
.header-wrap > img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.desktop {
 display: none;
}
.header-logo-bg {
  position: absolute;
  top: 0;
  left: 45px;
}
.header-logo {
  width: 78px;
  position: absolute;
  top: 0;
  left: 52px;
}
.nav-bar-wrap {
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-wrap .navbar-toggler {
  background: none;
  margin: 0;
  box-shadow: none;
}
.nav-bar-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel-item {
  display: flex;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}
.panel-item:last-child {
  margin-right: 0;
}
.panel-item .position-absolute {
  top: 10px;
  left: 22px;
}
.panel-item .dropdown-toggle {
  text-transform: uppercase;
  color: white;
}
.navbar .navbar-nav .dropdown-item{
  padding: 20px 20px 20px 35px;
}
.count-bg {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  bottom: -3px;
  right: -5px;
}
.count-bg > span {
  position: absolute;
  /*font-family: Kontora;*/
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #5B9600;
  bottom: 1px;
  right: 4px;
}
.contacts-wrap {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #FDFDFD;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.wishlist a{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: #FDFDFD;
}
.wishlist{
  margin: 12px;
}
.navbar-nav .dropdown .dropdown-menu .dropdown-item{
  padding: 12px 24px;
}
@media (max-width: 768px){
  .navbar-nav.attr-nav{
    flex-direction: inherit;
  }
  .navbar-nav .cart_box.dropdown-menu{
    min-width: auto;
  }
  #app .navbar-nav .dropdown-menu.cart_box{
    width: 250px;
  }
  #navbarSupportedContent{
    position: fixed;
    top: 35px;
    width: 65%;
    background: white;
  }
  #navbarSupportedContent .nav-item{
    padding: 10px;
  }
  #navbarSupportedContent .dropdown-toggle.menu-link{
    padding: 0;
  }
  .custom-page-tabs{
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .header-wrap {
    padding-right: 100px;
  }
  .header-wrap .mobile {
      display: none;
  }
  .header-wrap .desktop {
      display: flex;
  }
  .nav-bar-burger-menu {
      display: none;
  }
  .header-logo-bg {
      left: 55px;
  }
  .header-logo {
      width: 188px;
      position: absolute;
      top: 0;
      left: 70px;
  }
  .header-message-wrap {
      padding:3px 135px 0 295px;
      display: flex;
      align-items: center;
      justify-content: start;
  }

  .message-text {
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.04em;
      color: #FDFDFD;
  }
  .message-close {
      margin-left: 15px;
      cursor: pointer;
  }
  .nav-bar-wrap {
      padding: 0 25px 0 295px;
      justify-content: space-between;
  }
  .nav-bar-menu {
      display: flex;
      align-items: center;
      justify-content: start;
  }
  .menu-link {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: white;
      margin-right: 20px;
      display: flex;
      align-items: center;
  }
  #navbarSupportedContent > ul {
      align-items: center;
  }
  #navbarDropdown{
      text-transform: uppercase;
  }
  #navbarSupportedContent > ul > li.nav-item.dropdown > div {
      /*width: 260px;*/
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 30px 0 0 0;
      margin-top: -30px;
      /* overflow: hidden; */
      /* padding: 10px */
  }
  #navbarSupportedContent > ul > li.nav-item.dropdown > div > a,
  #navbarDropdownSubmenu {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      line-height: 22px;
      color: #575756;
  }
  #navbarDropdownSubmenu:hover, #navbarSupportedContent > ul > li.nav-item.dropdown > div > a:hover {
      color: #5B9600;
  }
  #navbarSupportedContent > ul > li.nav-item.dropdown > div > ul > div {
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 30px 0;
      margin-top: -63px;
      /* margin-left: 10px; */
      padding: 10px
  }
  .dropdown-item.dropdown-toggle::after{
      position: absolute;
      right: 20px;
  }
  .dropdown-toggle[aria-expanded='true']::after{
      transform: rotate(-90deg);
  }
  [aria-labelledby="navbarDropdown"] .nav-item.dropdown.show{
      background: #EFEFEF;
  }
  #navbarSupportedContent > ul > li.nav-item.dropdown > div > ul > div > a {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      line-height: 22px;
      color: #575756;
  }
  #navbarSupportedContent > ul > li.nav-item.dropdown > div > ul > div > a:hover{
      color: #5B9600;
  }
  .menu-link > img {
      margin-left: 5px;
      width: 16px;
      cursor:pointer;
  }
  .nav-bar-panel {
      justify-content: end;
      padding-top: 15px;
  }
  .panel-item {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
  }
  .panel-item .dropdown-menu {
      min-width: 4rem;
  }
  .panel-item-name {
      font-family: 'Poppins', sans-serif;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: -0.04em;
      color: #FDFDFD;
  }
  .count-bg {
      bottom: 14px;
      right: 0;
  }
  .count-bg > span {
      right: 4px;
  }
  .contacts-wrap {
      flex-direction: row-reverse;
      font-size: 14px;
      line-height: 20px;
      padding-right: 30px;
      margin-top: 10px;
  }
  .contacts-wrap a{
      color: #FDFDFD;
  }
  .contacts-wrap > span {
      margin-left: 10px;

  }
  .header-write-us {
      width: 134px;
      height: 32px;
      background: #5B9600;
      border-radius: 30px 0;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      float: right;
      margin: 2px 25px 0;
  }
}

@media (min-width: 1440px) {
  .nav-bar-wrap {
      margin-top: 15px;
  }
  .contacts-wrap {
      margin-top: 20px;
      font-size: 18px;
      line-height: 20px;
  }
  .header-write-us {
      margin-top: 20px;
  }
}
@media (min-width: 1920px) {
  .nav-bar-wrap {
      margin-top: 30px;
  }
}