#sidebar .sfHover{
  border: #d1d9dd solid 1px;
}

#sidebar-menu li .sidebar-submenu ul{
  margin-left: 30px;
}
.image-preview{
  max-width: 100px;
}
#custom-page-form .note-editor{
  width: 1030px;
}